<a href="https://colab.research.google.com/github/nhz111/pandas-practice/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print ("hello world")

hello world

practice pandas

**practice pandas**

In [6]:
import pandas as pd

In [7]:
print(pd.__version__)

1.4.4

In [10]:
l =[10,20,30,40]
s=pd.Series(l)
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [12]:
s1=pd.Series([10,10.5,'karan'])
print(s1)

0       10
1     10.5
2    karan
dtype: object

In [13]:
print(s1[0])

10

In [17]:
s2=pd.Series([100,200,300], index=['a','b','c'])
print(s2)

a    100
b    200
c    300
dtype: int64

In [19]:
print(s2['b'])

200

In [20]:
s3=pd.Series([10,20,30,40,50])
print(s3)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [21]:
print(s3[1:4])

1    20
2    30
3    40
dtype: int64

In [22]:
s3=pd.Series([10,20,30,40,50,],dtype=float)
print(s3)

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
dtype: float64

In [27]:
s1=pd.Series([10,20,30,40])
s2=pd.Series([1,2])

s=s1*s2
print(s)

0    10.0
1    40.0
2     NaN
3     NaN
dtype: float64

**data frame**

In [31]:
l1=[[1,2,3,4,5],[10,20,30,40,50],[100,200,300,400,500]]
df=pd.DataFrame(l1)
print(df)

     0    1    2    3    4
0    1    2    3    4    5
1   10   20   30   40   50
2  100  200  300  400  500

In [32]:
print(df[0])

0      1
1     10
2    100
Name: 0, dtype: int64

In [33]:
d={'name':['karan','rahul','rajesh'], 'sal':[250000,30000,20000]}
df=pd.DataFrame(d)
print(df)

     name     sal
0   karan  250000
1   rahul   30000
2  rajesh   20000

In [34]:
print(df['name'])

0     karan
1     rahul
2    rajesh
Name: name, dtype: object

In [35]:
print(df['sal'])

0    250000
1     30000
2     20000
Name: sal, dtype: int64

In [14]:
import pandas as pd
df=pd.read_csv('/cardekho_dataset.csv.csv')

#print(df)
display(df)

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,19537,Hyundai i10,Hyundai,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
15407,19540,Maruti Ertiga,Maruti,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
15408,19541,Skoda Rapid,Skoda,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5,425000
15409,19542,Mahindra XUV500,Mahindra,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
15410,19543,Honda City,Honda,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [ ]:
from google.colab import drive
drive.mount('/content/drive')